/** General Layout **/

body {
	height: 100%;
	width: 100%;
	color: #333;
	background-color: #f3f3f3;
}

.container {
	max-width: 75em;
	margin: auto;
	color: #fff;
	text-align: left;
}

.gradient {
	background: linear-gradient(150deg, #3a0c85, #482186);
	background-size: 400% 400%;
	-webkit-animation: gradient 5s ease infinite;
	-moz-animation: gradient 5s ease infinite;
	-o-animation: gradient 5s ease infinite;
	animation: gradient 5s ease infinite;
}

.medium-spacing {
	margin-top: 65px;
	margin-bottom: 65px;
}

span {
	color: #333;
}

.mobile-nav {
	color: #333;
}

.devices {
	max-width: 40em;
	color: #333;
	font-size: 1em;
	text-align: left;
	background-color: #fff;
	margin: auto;
}

/** Fonts & Text **/

h1 {
	color: #fff;
}

h2 {
	color: #fff;
	font-size: 3em;
}

h3 {
	font-size: 1em;
}

p {
	color: #fff;
}

.title {
	font-size: 3.1em !important;
	color: #fff !important;
	margin-bottom: 0px !important;
	font-family: 'Open Sans', sans-serif;
}

.subtitle {
	font-size: 1.2em !important;
	color: #fff !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.header {
	font-size: 2.4em;
	color: #333;
	margin-bottom: 0px;
	font-family: 'Open Sans', sans-serif;
}

.post {
	font-size: 1.3em;
	color: #333;
	margin-top: 0px;
	margin-bottom: 0px;
}

.post-link {
	font-size: 1em;
	color: #333;
	margin-top: 0px;
	margin-bottom: 0px;
}

.post-link:hover {
	font-size: 1em;
	color: #3a0c85;
	margin-top: 0px;
	margin-bottom: 0px;
}

.post-desc {
	font-size: 1em;
	color: #333;
	margin-top: 0px;
	margin-bottom: 0px;
}

.post-meta {
	font-size: .95em;
	color: #333;
	margin-top: 0px;
	margin-bottom: 0px;
}

footer {
	color: #333;
	text-align: center !important;
}

.footer-text {
	color: #333;
	font-size: 1em;
}

/** Images & Icons **/

.logo {
	width: 200px;
	height: 200px;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

.icons {
	color: #fff;
	transition: all 0.2s;
	font-size: 45px;
}

.icons:hover {
	color: #ccc;
}

.devices-icons {
	color: #000;
	transition: all 0.2s;
	margin-top: 10px;
}

.devices-icons:hover {
	color: #333;
	transition: all 0.2s;
}

.footer-icons {
	color: #000;
	transition: all 0.2s;
}

.footer-icons:hover {
	color: #333;
}