---
layout: page
title: Blog
description: WIP Blog with the help by Bob Pony
permalink: /blog
qa1: <a class="button is-primary is-rounded" href="/feed.xml" target="_blank"><span class="icon is-small"><i class="fas fa-rss"></i></span></a>
---
<div id="content" class="container">
<br />
{% for p in site.posts %}
<div class="box smallbox">
    <h2 class="title is-4"><a href="{{ p.url }}">{{ p.title }}</a></h2>
	<h3 style="opacity: 0.6;" class="subtitle is-6">{{ p.description}}</h3>
    <p style="opacity: 0.3;">Posted on {{ p.date | date: '%B %d, %Y' }} by {{ p.author }}</p>
</div>
{% capture mod %}
{{ forloop.index | modulo: 2 | times: 1 }}
{% endcapture %}

{% if mod contains '0' %}

{% endif %}

{% endfor %}


  </div>
  <!-- <div class="column">
    <section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Categories
      </h1>

    </div>
  </div>
</section>
  </div> -->

<br />

<script id="dsq-count-scr" src="//bobponyweb.disqus.com/count.js" async></script>
</div>
