<footer class="footer">
    <p class="footer-text">&copy; 2018 AeroFusion.</p>
    <a href="https://youtube.com/c/AeroFusion" title="YouTube">
        <span class="icon">
            <i class="footer-icons fab fa-youtube fa-lg"></i>
        </span>
    </a>
    <a href="https://twitter.com/espiuwu" title="Twitter">
        <span class="icon">
            <i class="footer-icons fab fa-twitter fa-lg"></i>
        </span>
    </a>
    <a href="https://github.com/AeroFusionYT" title="GitHub">
        <span class="icon">
            <i class="footer-icons fab fa-github fa-lg"></i>
        </span>
    </a>
    <a href="https://keybase.io/AeroFusion" title="Keybase">
        <span class="icon">
            <i class="footer-icons fas fa-key fa-lg"></i>
        </span>
    </a>
    <a href="https://discord.gg/hKhwK88" title="Discord">
        <span class="icon">
            <i class="footer-icons fab fa-discord fa-lg"></i>
        </span>
    </a>
</footer>