<!-- SEO Metadata -->
<meta charset="UTF-8">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}AeroFusion - 16 year old web developer and tech enthusiast who occasionally blogs.{% endif %}">
<meta name="keywords" content="espi, aerofusion, aerofusionyt, netsky, blog, aerofusion.net, aerofusion.us, espiuwu">
<meta name="author" content="AeroFusion">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}AeroFusion - 16 year old web developer and tech enthusiast who occasionally blogs.{% endif %}">
<meta name="google-site-verification" content="TkIxbzOMDJ3rOgB1FH-cCLeqWpa87quOlCsqBc-eiv0" />
<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}AeroFusion{% endif %}">
<meta property="og:url" content="https://aerofusion.us{{ page.url }}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}AeroFusion - 16 year old web developer and tech enthusiast who occasionally blogs.{% endif %}">
<meta property="og:image" content="/img/logo.png">
<!-- Twitter Metadata -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@espiuwu" />
<meta name="twitter:creator" content="@espiuwu" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} - AeroFusion{% else %}AeroFusion{% endif %}" />
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}AeroFusion - 16 year old web developer and tech enthusiast who occasionally blogs.{% endif %}" />
<meta name="twitter:image" content="/img/logo.png" />
<!-- Web Resources -->
<meta content="#1a47c2" name="theme-color">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/other.css">
<link rel="stylesheet" href="/css/frameworks/bulma.css">
<link rel="stylesheet" href="/css/frameworks/animate.css">
<link rel="stylesheet" href="/css/webfonts/opensans.css">
<script src="/js/navbar.js"></script>
<script src="/js/font-awesome.js"></script>
<link rel="shortcut icon" href="/img/favicon.png">
<title>{% if page.title %}{{ page.title }} - AeroFusion{% else %}AeroFusion{% endif %}</title>

