<nav class="navbar is-light">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/img/navicon.png">
        </a>
        <span class="navbar-burger burger mobile-nav" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </div>
    <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
            <a href="/blog" class="navbar-item">Blog</a>
            <a href="/about" class="navbar-item">About</a>
            <a href="/downloads" class="navbar-item">Downloads</a>
        </div>
</nav>