.top {
	background-image: url('https://aerofusion.net/assets/images/header.png');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.header {
	width: 100%;
	text-align: center;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	background-color: #442a79;
}
.branding {
	font-family: 'Comfortaa', cursive;
	font-size:50px;
}
.navbar-item {
	display: flex;
}
.navbar, .navbar-menu, .navbar-start, .navbar-end {
	align-items: stretch;
	display: flex;
	padding: 0;
}
.navbar-menu {
	flex-grow: 1;
	flex-shrink: 0;
}
.navbar-start {
	justify-content: flex-start;
	margin-right: auto;
}
.navbar-end {
	justify-content: flex-end;
	margin-left: auto;
}
#twitter:hover {
	color: #1da1f2;
}
#youtube:hover {
	color: #ff0000;
}
#steam:hover {
	color: #00adee;
}
#github:hover {
	color: #4078c0;
}
#discord:hover {
	color: #7289DA;
}
#youtube,
#twitter,
#github,
#steam,
#nav2,
#channels,
#games, 
#faqs,
#devices,
#music,
#discord,
#downloads {
	transition: all 0.3s;
}

#youtube:hover,
#discord:hover,
#twitter:hover,
#github:hover,
#steam:hover,
#nav2:hover,
#music:hover,
#channels:hover,
#games:hover,
#faqs:hover,
#devices:hover,
#downloads:hover {
	transform: scale(1.20);
}

#hero-1,
#hero-2 {
	background-color: #3d1f77;
	
}
#hero-header {
	background-image: url('./assets/images/header.png'); background-size: cover;
}
a {
	color: #fff;
}
a:hover {
	color: #fff;
}
div#container {
	max-width: 75em;
	margin: 0 auto;
	color: #fff;
}
body {
	height: 100%;
	width: 100%;
	background-color: #301860;
	color: #fff;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	overflow-y: hidden
}
.link {
	font-size: 3em;
	font-family: 'Open Sans', sans-serif;
}
h6 {
	font-family: 'Open Sans', sans-serif;
}
p#link {
	font-family: 'Open Sans', sans-serif;
}
i {
	transition: all 0.25s;
	font-family: 'Open Sans', sans-serif;
}
i:hover {
	transform: scale(1.20);
}
h1 {
	font-size: 2em;
	cursor: default;
}
.logo {
	width: 250px;
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0px 0px 20px #7878c0;
	margin-bottom: 10px;
	transition: all 0.0;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition: transform .8s ease-in-out;
}
.logo:hover {
	animation: shadow-pulse 1s infinite ease;
	-webkit-transform: rotate(360deg);
		  transform: rotate(360deg);
}
.faqs {
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0px 0px 20px #3d1f77;
	margin-bottom: 10px;
	transition: all 0.3s;
}
.faqs:hover {
	transform: scale(1.10);
}
.tech {
	display: inline-block;
	margin-bottom: 10px;
	transition: all 0.3s;
}
.tech:hover {
	transform: scale(1.10);
}
h2 {
	color: #e8e8e8;
	font-size: 3em;
}
.smallbox {
	max-width: 50em;
	color: #D3D3D3;
	text-align: center;
	background-color: #3d1f77;
	margin: auto;
}
.mediumbox {
	max-width: 75em;
	color: #e8e8e8;
	text-align: center;
	background-color: #3d1f77;
	margin: auto;
}
p {
	color: #e8e8e8;
}
.stration {
	border-radius: 50%;
	display: inline-block;
	max-width: 150px;
	transition: all 0.25s;
}
.stration:hover {
	transform: scale(1.05);
}
.footer {
	color: #fff;
	background-color: #3d1f77;
	padding: 3em
}
@keyframes shadow-pulse {
	0% {
		box-shadow: 0px 0px 20px #7878c0;
	}
	50% {
		box-shadow: 0px 0px 50px #7878c0;
	}
	100% {
		box-shadow: 0px 0px 20px #7878c0;
	}
}
.branding:hover {
	-webkit-stroke-color: #FFFFFF;
	-webkit-fill-color: #FFFFFF;
	text-shadow: 1px 0px 20px #7878c0;
}
.branding {
	transition: all 0.3s;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }
  
  .animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
  }

  @-webkit-keyframes slideInDown {
	from {
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0);
	  visibility: visible;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  @keyframes slideInDown {
	from {
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0);
	  visibility: visible;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  .slideInDown {
	-webkit-animation-name: slideInDown;
	animation-name: slideInDown;
  }

  @-webkit-keyframes fadeInDown {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  @keyframes fadeInDown {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  .fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
  }

  @-webkit-keyframes fadeIn {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
  }
  
  @keyframes fadeIn {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
  }
  
  .fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
  }

  @-webkit-keyframes slideInUp {
	from {
	  -webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);
	  visibility: visible;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  @keyframes slideInUp {
	from {
	  -webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);
	  visibility: visible;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  .slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
  }