.header {
	width: 100%;
	text-align: center;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	background-color: #303090;
}
.navbar-item {
	display: flex;
}
.navbar, .navbar-menu, .navbar-start, .navbar-end {
	align-items: stretch;
	display: flex;
	padding: 0;
}
.navbar-menu {
	flex-grow: 1;
	flex-shrink: 0;
}
.navbar-start {
	justify-content: flex-start;
	margin-right: auto;
}
.navbar-end {
	justify-content: flex-end;
	margin-left: auto;
}
#twitter:hover {
	color: #1da1f2;
}
#youtube:hover {
	color: #ff0000;
}
#keybase:hover {
	color: #FF6F21;
}
#github:hover {
	color: #4078c0;
}
#discord:hover {
	color: #7289DA;
}
#youtube,
#twitter,
#github,
#keybase,
#nav2,
#channels,
#games, 
#faqs,
#devices,
#music,
#discord,
#downloads {
	transition: all 0.3s;
}

#youtube:hover,
#discord:hover,
#twitter:hover,
#github:hover,
#keybase:hover,
#nav2:hover,
#music:hover,
#channels:hover,
#games:hover,
#faqs:hover,
#devices:hover,
#downloads:hover {
	transform: scale(1.20);
}


#hero-header {
	background-image: url('/assets/images/header.png'); background-size: cover;
}
a {
	color: #fff;
}
a:hover {
	color: #fff;
}
div#container {
	max-width: 75em;
	margin: 0 auto;
	color: #fff;
}
body {
	height: 100%;
	width: 100%;
	background-color: #181878;
	color: #fff;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	overflow-y: hidden
}
.link {
	font-size: 3em;
	font-family: 'Open Sans', sans-serif;
}
h6 {
	font-family: 'Open Sans', sans-serif;
}
p#link {
	font-family: 'Open Sans', sans-serif;
}
i {
	transition: all 0.25s;
	font-family: 'Open Sans', sans-serif;
}
i:hover {
	transform: scale(1.20);
}
h1 {
	font-size: 2em;
	cursor: default;
}
.logo {
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0px 0px 20px #7878c0;
	margin-bottom: 10px;
	transition: all 0.0;
}
.logo:hover {
	animation: shadow-pulse 1s infinite ease;
}
.faqs {
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0px 0px 20px #301860;
	margin-bottom: 10px;
	transition: all 0.3s;
}
.faqs:hover {
	transform: scale(1.10);
}
.tech {
	display: inline-block;
	margin-bottom: 10px;
	transition: all 0.3s;
}
.tech:hover {
	transform: scale(1.10);
}
h2 {
	color: #e8e8e8;
	font-size: 3em;
}
.smallbox {
	max-width: 50em;
	color: #D3D3D3;
	text-align: center;
	background-color: #181878;
	margin: auto;
}
.mediumbox {
	max-width: 75em;
	color: #e8e8e8;
	text-align: center;
	background-color: #181878;
	margin: auto;
}
p {
	color: #e8e8e8;
}
.stration {
	border-radius: 50%;
	display: inline-block;
	max-width: 150px;
	transition: all 0.25s;
}
.stration:hover {
	transform: scale(1.05);
}
.footer {
	color: #fff;
	background-color: #303090;
	padding: 3em
}
@keyframes shadow-pulse {
	0% {
		box-shadow: 0px 0px 20px #7878c0;
	}
	50% {
		box-shadow: 0px 0px 50px #7878c0;
	}
	100% {
		box-shadow: 0px 0px 20px #7878c0;
	}
}
.branding:hover {
	-webkit-stroke-color: #FFFFFF;
	-webkit-fill-color: #FFFFFF;
	text-shadow: 1px 0px 20px #7878c0;
	transform: scale(1.05);
}
.branding {
	transition: all 0.3s;
}
