<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="#1a47c2" name="theme-color">
    <meta name="google-site-verification" content="soVo6qIgXYpP3PDMFnQ9fRXWQMmQ4c4G4DnvGHRWj-E" />
    <meta content="index" name="robots">
    <meta content="{{ page.description }}" name="description">
    <meta content="espi, aerofusion, developer, netsky, discord, aerofusionyt, espi" name="keywords">
    <meta content="summary" name="twitter:card">
    <meta content="@AeroFusionYT" name="twitter:site">
    <meta content="{% if page.title %}{{ page.title }} - AeroFusion{% else %}AeroFusion{% endif %}" name="twitter:title">
    <meta content="{{ page.description }}" name="twitter:description">
    <meta content="https://aerofusion.net/img/logo.png" name="twitter:image">
    <meta content="{% if page.title %}{{ page.title }} - AeroFusion{% else %}AeroFusion{% endif %}" property="og:title">
    <meta content="website" property="og:type">
    <meta content="https://aerofusion.net/" property="og:url">
    <meta content="{{ page.description }}" property="og:description">
    <meta content="/img/logo.png" property="og:image">
    <link rel="shortcut icon" href="/img/favicon.png">
    <link href="/css/webfonts/raleway.css" rel="stylesheet">
    <link href="/css/bulma.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/other.css" rel="stylesheet" type="text/css">
    <script src="/js/font-awesome.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/typed.js"></script>
    <title>{% if page.title %}{{ page.title }} - AeroFusion{% else %}AeroFusion{% endif %}</title>
	 <script>
        $(function() {
            $(".typed").typed({
                strings: ["{% if page.title %}{{ page.title }}{% else %}You didn't put a title, dumbass{% endif %}"],
                stringsElement: null,
                typeSpeed: 30,
                startDelay: 5,
                backSpeed: 20,
                backSpeedelay: 500,
                loop: !1,
                loopCount: 5,
                showCursor: !1,
                cursorChar: "|",
                attr: null,
                contentType: 'html',
                callback: function() {},
                preStringTyped: function() {},
                onStringTyped: function() {},
                resetCallback: function() {}
            })
        })
    </script>
</head>

<body>
{{ content }}
<div class="large-spacing"></div>
</body>
<footer class="footer">
        <p class="footer-text">&copy; 2018 AeroFusion. All Rights Reserved.</p>
    </footer>
</html>