---
layout: blank
---
<div id="content">
<nav class="navbar is-white">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                AeroFusion
            </a>
            <span class="navbar-burger burger mobile-nav" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
            </span>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
			<a href="/blog" class="navbar-item">Blog (WIP)</a>
                <a href="/devices" class="navbar-item">Devices</a>
                <a href="https://netsky.me/" class="navbar-item">Discord</a>
            </div>
        </div>
    </nav>
	 <div class="hero is-medium" id="gradient">
        <div class="hero-body">
            <div class="container">
                <p class="typed"></p>
                <h3 class="animated fadeIn">{{ page.description }}</h3>
            </div>
        </div>
    </div>
	{{content}}
	</div>